<div class="main">
  <div class="form_box">
    <%= form_with model: @user, local: true, data: { turbo: false } do |form| %>
      <div class="form_title">新規登録</div>

      <%= form.label :nickname, "ニックネーム" %>
      <%= form.text_field :nickname, class: "form_user" %>

      <%= form.label :email, "メールアドレス" %>
      <%= form.email_field :email, class: "form_user" %>
  
      <%= form.label :password, "パスワード" %>
      <%= form.password_field :password, class: "form_user" %>

      <%= form.label :password_confirmation, "パスワード(確認)" %>
      <%= form.password_field :password_confirmation, class: "form_user" %>

      <%= form.submit "登録", class: "form_user submit" %>
    <% end %>
  </div>
</div>